<!DOCTYPE html>
<html lang="en">
<head>
    <title>Full-Width Text Editors</title>
    <!-- CSS 가 먹히지가 않음 ... !! -->
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
    <div class="editor-container">
        <textarea class="text-editor"></textarea>
        <textarea class="text-editor"></textarea>
    </div>

    <div class="test">
        <div class="">
            <textarea class="test"></textarea>
        </div>
    </div>


</body>

</html>